$primary: #30292F;
$secondary: #413F54;
$info: #5F5AA2;
$warning: #355691;
$danger: #3F4045;
// $primary2: #BEE9E8;
// $secondary2: #62B6CB;
// $info2: #1B4965;
// $warning2: #CAE9FF;
// $danger2: #5FA8D3;
@import '../node_modules/bootstrap/scss/bootstrap';
.font {
    font-family: 'M PLUS 1p', sans-serif;
}